.sobreHobbies {
    margin-top: 8px;
}

.h2__hobbies {
    padding-top: 16px;
    font-family: Raleway;
    font-size: 29px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.div__externohobbies {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.div__internohobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    width: 170px;
    height: 106px;
    padding: 10px 2px;
    margin-bottom: 10px;
}

.img__hobbies {
    width: 59px;
}

  

.h4__hobbies {
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;

}